.popup__submit-btn_disabled {
    pointer-events: none;
    user-select: none;
    border: 1px solid #000000;
    background-color: white;
    cursor: not-allowed;
    color: #000000;
    opacity: 0.2;
}

