.profile__add-button {
    width: 100%;
    margin: 0 auto 0;
    height: 50px;
    background: url("../../../images/add-icon.svg") no-repeat center;
    background-size: 16px;
    border: 2px solid #FFFFFF;
    justify-self: right;
    border-radius: 2px;
    transition: .3s ease-out;
    padding: 0;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .profile__add-button {
        width: 100px;
        background-size: 22px;
        margin-right: 0;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .profile__add-button {
        width: 150px;
    }
}

